body {
    margin: 1em;
}

/* Desktop style after */
@media (min-width: 600px) {
    body {
        margin-left: 24%;
        margin-right: 24%;
        margin-top: 5%;
    }
}

body {
  background-color: #faf5e3;
}

@font-face {
  font-family: "Acknowledgement";
  src: url("Acknowledgement.otf");
}

@font-face {
  font-family: "Forum";
  src: url("Forum-Regular.otf");
}

h1 {
    color: #c13925;
    text-align: center;
    font-family: Acknowledgement;
}

h2 {
    color: #c13925;
    text-align: center;
    font-family: Forum;
}

a {
    color: #c13925;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 50%;
}

table {
    width: 100%;
}

td {
    padding: 1em;
    background-color: white;
}
